.activities-register {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vw;
    z-index: 999;
    max-height: 200px; }
.activities-register img {
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 0;
    display: block;
    transform: translateX(-50%);
    max-width: 175%; }
.activities-register button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    display: block;
    top: 1vw;
    right: 14vw;
    width: 1.7vw;
    height: 1.7vw;
    min-width: 20px;
    min-height: 20px;
    max-width: 32px;
    max-height: 32px;
    background: url("../images/register-close.png") no-repeat center/100%; }
@media only screen and (min-width: 768px) {
    .activities-register {
        height: 12vw; }
    .activities-register img {
        max-width: 120%; } }
@media only screen and (min-width: 1460px) {
    .activities-register {
        height: 10vw; }
    .activities-register img {
        max-width: 100%; } }
/*报错*/
.error404{
    display: block;
    padding-top: 30px;
}
.error404 img{
    display: block;
    margin: 0 auto;
}
.error404>span{
    display: block;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
}
.error404>a{
    display: block;
    background: #00a1f1;
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 40px auto 0;
    text-decoration: none;
    border-radius: 5px;
}
.center{
    width: 1200px;
    margin: 0 auto;
}

/*请求成功*/
.submitState{
    padding-top: 100px;
    padding-bottom: 70px;
}
.submitState img{
    display: block;
    margin: 0 auto;
}
.submitState h6{
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
}
.submitState p{
    text-align: center;
    margin-top: 30px;
}
.submitState p em{
    color: #d82b24;
}
.submitState p a{
    color: #d82b24;
    text-decoration: underline;
}

.layui-img-del{
    display: block;
    background: url("../images/close.png") no-repeat;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    right: 18px;
    cursor: pointer;
    float: right;
}
.layui-upload-list .image_div{
    float: left;
}
.layui-upload-list img{
    width:100px;
    height: 100px;
    margin-left:95px
}